<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
    integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
    crossorigin="anonymous">
  </head>
  <body class="container" style="width: 80%" role="alert">
    <div class="alert alert-secondary" style="padding: 8.75rem 1.25rem" id="page">
        <section class="container">
            <a href="https://www.facebook.com/v2.10/dialog/oauth?%20client_id=113393436044111&redirect_uri=https%3A%2F%2Fsage-nail.glitch.me%2Fadgenerator&response_type=token&granted_scopes=ads_management" id="fbLogin">Login to Facebook</a>
          </section>
          <!-- <form> -->
            <!-- <div class="form-group"> -->
              <!-- <label for="applicationId"></label> -->
              <!-- <input type="text" name="applicationId" class="form-control" id="applicationId"> -->
            <!-- </div> -->
            <!-- <button type="submit" class="btn btn-primary" >Submit</button> -->
          <!-- </form> -->
          <section class="container"><br/><br/><p>an amazing facebook ad generator which is currently hardcoded :)</p><br/><br/></section>
          <section class="container">
            <button onClick="createAd()" class="btn btn-primary"> CREATE CAMPAIGN</button>
          </section>
          <script src="/scripts/adGenerator.js"></script>
          <script>
            var page = document.getElementById("page");
            var textElement = document.createElement("H1");
            var text = document.createTextNode("Success!");
            textElement.style.textAlign = "center";
            textElement.style.color = "green";
            textElement.style.fontWeight = "bold";
            textElement.appendChild(text);
            page.appendChild(textElement);
          </script>
    </div>
  </body>
</html>
