<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <title>Your Voucherify Campaigns - Face2!</title>
  </head>
  <body>
    <div class="jumbotron container">
       <h2 class="display-3" style="text-align: center">Your Voucherify Campaings</h2>
    </div>
    <section class="container">
      <table class="table table-striped">
        <thead class="thead-inverse">
          <tr>
            <th>Name</th>
            <th class="text-right">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% for (var key in campaigns) { %>
            <tr>
              <td><%= campaigns[key].name %></td>
              <td class="text-right"><a href=/campaigns/<%= campaigns[key].name %>><button class="btn btn-primary">Create a Facebook campaign</button></a></td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </section>
    <script>
      localStorage.setItem('applicationId', '<%= keys[0] %>')
      localStorage.setItem('clientSecretKey', '<%= keys[1] %>')
    </script>
  </body>
</html>
